body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin-left: 60px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding: 10px;
  margin: 15px;
  display: inline-block;
  width: 20%;
}

a {
  color: black;
}

 a:hover {
  opacity: 0.1;
  text-decoration: none;
}

.search {
  background-image: url('./images/icons8-search-64.png'); 
  background-position: 7px; 
  background-repeat: no-repeat;
  background-size: 30px;  
  width: 50%; 
  font-size: 16px; 
  padding: 15px 20px 12px 50px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  border-radius: 5px;
}